<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Partial Head Data -->
  <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/recipe.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="/http_requests.js"></script>
    <script src="/recipe.js" defer></script>
</head>

<body>
  <!-- Navigation Menu -->
  <%- include('partials/nav.ejs') %>

    <!-- Cover image of the recipe -->
    <img class="cover-image" src="<%= images[0].link %> " alt="<%= images[0].description %> "></a>

    <!-- CENTER ENITRE PAGE CONTENT -->
    <!-- -------------------------- -->
    <div class="center-page-content w3-content w3-center">


      <!-- Recipe Heading -->
      <h1 style="font-size: xxx-large;">
        <%= recipeInfo[0].name %>
      </h1>

      <!-- Recipe Tags -->
      <span>
        <img src="/baking.png" alt="" style="width: 25px;">&nbsp;Tradition&nbsp;&nbsp;</img>
        <img src="/chef-hat.png" alt="" style="width: 25px;">&nbsp;Easy&nbsp;&nbsp;</img>
        <img src="/clock2.png" alt="" style="width: 25px;">&nbsp;20-40 min</img>
      </span>
      <!-- <hr> -->
      <!-- Recipe Description  -->
      <p>
        <%= recipeInfo[0].description %>
      </p>
      <hr>

      <!-- Ingredients Header -->
      <h2 style="text-decoration: underline;">Ingredients</h2>

      <!-- Table of Ingredients -->
      <table id="ingredients-table" class="w3-table w3-bordered w3-hoverable w3-ripple"
        style="width: fit-content; margin: auto;">
        <% for( let index=0; index < ingredients.length; index++ ) { %>
          <tr>

            <td class="amounts">
              <%= ingredients[index].amount %>
            </td>

            <td>
              <%= ingredients[index].unit %>
            </td>

            <td>
              <%= ingredients[index].ingredient %>
            </td>

          </tr>
          <% } %>
      </table>

      <hr>

      <!-- Portions picker -->
      <div class="portions-block" style="margin: auto;">

        <span class="portions-picker">
          <button id="minus-button" class="portion-buttons w3-button w3-green w3-circle w3-ripple"
            onclick="stepDownPortions()">-</button>

          <input class="portions-number w3-center" id="nr-of-portions" type="number" name="" min="1" max="99"
            maxlength="2" value="<%= parseInt(recipeInfo[0].default_portions) %>"
            onchange="updateIngredientValues(value)">

          <button id="plus-button" class="portion-buttons w3-button w3-green w3-circle w3-ripple"
            onclick="stepUpPortions()">+</button>
        </span>

        <div class="portions-text">PORTIONS</div>
      </div>
      <hr>


      <!-- Recipe Steps -->
      <div style="padding-right: 5px; width: fit-content; margin: auto;">
        <h2 style="text-decoration: underline;">Steps</h2>

        <ul class="w3-ul w3-hoverable w3-ripple" style="text-align:left;">
          <% for (let index=0; index < steps.length; index++) { %>
            <li id="stepsList<%= index + 1 %>" onclick="strikeThroughText(this.id)">
              <strong style="font-size: 16px;">
                <%= index + 1 %>.
              </strong>
              <span>
                <%= steps[index].description %>
              </span>

              <!-- Inserts a NOTE icon with information if a note exists -->
              <% if (steps[index].note !==null) { %>
                <span class="w3-tooltip w3-right" style="width: fit-content;">
                  <img src="/info-black.png" alt="" width="25px"></img>
                  <span class="w3-text">
                    <div class="w3-panel w3-pale-blue w3-border">
                      <h3>Note</h3>
                      <p>
                        <%= steps[index].note %>
                      </p>
                    </div>
                  </span>
                </span>
                <% } %>

            </li>
            <% } %>
        </ul>
      </div>

      <!-- END OF CENTER PAGE -->
    </div>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
</body>

</html>